body {
    background-color:  #470505;

}

.container {
    position: relative;
    margin-bottom: 20px;

}

.midiv {
    background-color: white ;
    padding:20px;
    border-radius:30px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    height:fit-content;
}

.success {
    font-size: 36px;
}

.form-label {
    font-weight: bold;
}


.button {
    background-color:rgb(243, 134, 9);
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.3s ease;
    border-radius: 10px;
    font-weight: bold;
    position:auto;
    
}

.button:hover {
    color:white;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.Order-Menu {
    max-height: 400px;
    overflow-y: auto;
    transition: max-height 0.3s ease;
}

.order-list {
    max-height: 300px;
    overflow-y: auto;
}

.total {
    text-align: right;
}
.order-list td:nth-child(4) img {
    width: 50px;
    height: 50px;
}
.delete-button {
    background-color:#940b0b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
