 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #5c0000;
    color:#5c0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    color: #8b0000;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;



}

.logo {
    width: 200px;
    height: 81px;
    margin-right: 1160px;
    display: flex;


}
.header h2 {
    margin: 0;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: auto;
    gap: 22px;
    margin-top: 111px;
    width: calc(91% - 102px);
    max-width: 1139px;
    padding: -4px;
    margin-right: 215px;
}


.order-menu {
order: -1; /* Set order to -1 to move it to the beginning */
}

.menu-item {
    text-align: center;
    border-radius: 39px;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(15% - 13px);
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.menu-item p {
    margin: 0;
    font-size: 16px;
}
.menu-item p.php {
    font-size: 18px;
    font-weight: bold;
    color:black;
}
.order-menu {
position: absolute;
top: 32%;
right: 0;
transform: translateY(-50%); /* Center vertically */
background-color: #f2f2f2;
color: #333;
padding: 10px;
border-radius: 10px;
height: auto;
width: 15%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-menu h2 {
    margin: 0 0 20px;
    color: #8b0000;
}
.order-menu .order-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.order-menu .order-item:last-child {
    border-bottom: none;
}
.order-menu .order-item p {
    margin: 0;

}
.order-menu .delete-btn {
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.order-menu .delete-btn:hover {
    background-color: #5c0000;
}
.order-btn:hover {
    background-color: #0056b3;
}
